SERVER_PORT=8080
BACKEND_PORT=8080

DB_NAME=camel_racing_db
DB_USERNAME=camel_racing_user
DB_PASSWORD=change_me
DB_PORT=5432

KEYCLOAK_PUBLIC_URL=http://localhost:8180
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/camel-racing/protocol/openid-connect/certs
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/camel-racing