SERVER_PORT=8080
BACKEND_PORT=8080
FRONTEND_PORT=5173

DB_NAME=camel_racing_db
DB_USERNAME=camel_racing_user
DB_PASSWORD=changeme
DB_PORT=5432

KEYCLOAK_PORT=8180
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=changeme