.gradle/
build/
out/
bin/

.idea/
*.iml
.vscode/

.env
.env.*
!.env.template

*.log
.DS_Store

application-local.yml
application-prod.yml

docs/postman/camel-racing-system.postman_collection.json
docs/postman/camel-racing-local.postman_environment.json